$default-color: white;

body {
  color: $default-color;
  background-image: url(/src/img/bg_dark.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-top: 10px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

div.grid {
  display: flex;
  flex-wrap: wrap;

  div.explorer {
    flex: 1 0 48%;
    text-align: center;
    margin-bottom: 10px;

    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}

div.center {
  text-align: center;
  margin-top: 10px;
}

div.stats {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;

  div.column {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    div.default {
      font-weight: bold;
      color: #888;
    }

    div.red {
      color: red;
    }

    div.selected::before {
      content: '[ ';
      color: $default-color;
    }
    div.selected::after {
      content: ' ]';
      color: $default-color;
    }
    div.selected {
      font-weight: bold;
    }
  }
}

div.button {
  display: inline-block;
  background-color: #333;
  border-radius: 5px;

  padding: 8px;
  margin: 15px;
  font-size: 1.5em;

  user-select: none;

  &:hover {
    cursor: pointer;
  }
}
